Importing relevant packages

In [1]:
#pip install -U epiweeks

In [2]:
import pandas as pd 
import numpy as np 
import pickle 
import datetime as dt
#import epiweeks as ew
from epiweeks import Week, Year
import os
import glob

Opening pickles!

In [3]:
with open('df_temp_rain.pickle','rb') as read_file:
    df_temp_rain = pickle.load(read_file)
with open('df_dengue.pickle','rb') as read_file:
    df_dengue = pickle.load(read_file)

Opening and merging search term CSVs

In [4]:
os.chdir("/Users/adelweiss/Documents/Project/Project 2/Data")
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

counter = 0
df_st = pd.DataFrame
#combine all files in the list
for name in all_filenames:
    csvfile = pd.read_csv(name, skiprows=2)
    if counter == 0:
        df_st = csvfile 
        counter +=1
    else: df_st = df_st.merge(csvfile, how = 'left', on ='Week' )

In [5]:
df_st

,Week,fever: (Singapore),headache: (Singapore),ache + pain: (Singapore),dengue fever: (Singapore),eye pain: (Singapore),dengue: (Singapore),rashes: (Singapore)
0,2014-01-05,71,75,83,46,32,68,82
1,2014-01-12,84,52,77,29,57,61,73
2,2014-01-19,72,56,75,40,48,47,78
3,2014-01-26,66,69,73,18,43,34,84
4,2014-02-02,64,65,80,35,43,42,58
...,...,...,...,...,...,...,...,...
256,2018-12-02,82,70,77,24,59,29,54
257,2018-12-09,67,56,87,15,81,26,58
258,2018-12-16,77,76,84,27,61,28,60
259,2018-12-23,84,75,88,24,71,20,72
260,2018-12-30,89,83,89,30,41,27,59

Dengue DataFrame

In [6]:
df_dengue.info()
### There seems to be cases missing form Number column

<class 'pandas.core.frame.DataFrame'>
Int64Index: 810 entries, 0 to 14
Data columns (total 4 columns):
Year            810 non-null int64
Eweek (Week)    810 non-null int64
Type dengue     810 non-null object
Number          796 non-null float64
dtypes: float64(1), int64(2), object(1)
memory usage: 31.6+ KB

In [7]:
###Keep only normal dengue cases, unfortunately this does not solve the missing data problem
df_dengue = df_dengue[df_dengue['Type dengue'] == 'Dengue']

In [8]:
df_dengue[df_dengue['Number'].isnull()]

### NaN in Number columns occur on week 53... let's drop these. 
### also there appears to be some duplicates in the dataframe, which explains the weird total entries

    Year  Eweek (Week) Type dengue  Number
14  2018            53      Dengue     NaN
0   2018            53      Dengue     NaN
1   2017            53      Dengue     NaN
2   2017            53      Dengue     NaN
10  2016            53      Dengue     NaN
11  2016            53      Dengue     NaN
12  2015            53      Dengue     NaN

In [9]:
df_dengue.drop_duplicates(keep = 'last', inplace = True)

In [10]:
### we need to zero-pad the single digits of eweek and concate the year 
### so that we can merge this with the other datasets. 

df_dengue['Eweek (Week)'] = df_dengue['Eweek (Week)'].astype(str)
df_dengue['Eweek (Week)'] = df_dengue['Eweek (Week)'].apply(lambda x: x.zfill(2))

In [11]:
### now we need to merge the year and the eweeek
df_dengue['Year'] = df_dengue['Year'].astype(str)
df_dengue['eweek'] = df_dengue[['Year', 'Eweek (Week)']].apply(lambda x: ''.join(x), axis=1)

In [12]:
df_dengue = df_dengue.drop(columns = ['Year', 'Eweek (Week)', 'Type dengue'])

In [13]:
df_dengue.rename(columns={'Number':'Dengue Cases'}, inplace=True)

In [14]:
df_dengue

    Dengue Cases   eweek
1           83.0  201801
3           68.0  201802
5           54.0  201803
7           45.0  201804
9           48.0  201805
..           ...     ...
5          212.0  201449
7          177.0  201450
9          198.0  201451
11         188.0  201452
13         158.0  201453

[265 rows x 2 columns]

Temperature & Rainfall

In [15]:
df_temp_rain.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1827 entries, 0 to 30
Data columns (total 11 columns):
Date                             1827 non-null object
Daily Rainfall Total (mm)        1827 non-null float64
Highest 30-min Rainfall (mm)     1827 non-null object
Highest 60-min Rainfall (mm)     1827 non-null object
Highest 120-min Rainfall (mm)    1827 non-null object
Mean Temperature (Â°C)            1827 non-null float64
Maximum Temperature (Â°C)         1827 non-null float64
Minimum Temperature (Â°C)         1827 non-null float64
Mean Wind Speed (km/h)           1827 non-null object
Max Wind Speed (km/h)            1827 non-null object
Year                             1827 non-null int64
dtypes: float64(4), int64(1), object(6)
memory usage: 171.3+ KB

In [16]:
df_temp_rain.describe()

,Daily Rainfall Total (mm),Mean Temperature (Â°C),Maximum Temperature (Â°C),Minimum Temperature (Â°C),Year
count,1827.000000,1827.000000,1827.000000,1827.000000,1827.000000
mean,4.631253,28.051013,31.654953,25.497865,2016.002189
std,10.299263,1.116300,1.471560,1.340702,1.414212
min,0.000000,23.000000,23.700000,21.100000,2014.000000
25%,0.000000,27.300000,30.900000,24.600000,2015.000000
50%,0.000000,28.100000,31.900000,25.500000,2016.000000
75%,3.600000,28.900000,32.600000,26.500000,2017.000000
max,75.400000,30.700000,35.000000,28.400000,2018.000000

In [17]:
### Need to turn the days into epi week
### Each epidemiological week begins on a Sunday and ends on Saturday

In [18]:
###Split date into day and month so that I can apply the epiweek conversion 
df_temp_rain['Date2'] = df_temp_rain['Date'].str.split() 
df_temp_rain['Day'] = df_temp_rain['Date2'].apply(lambda x:x[0])
df_temp_rain['Month'] = df_temp_rain['Date2'].apply(lambda x:x[1])

In [19]:
###apply dictionary to months so that we can use epi week to convert 
month_dictionary = {'Jan':1, 'Feb':2, 'Mar':3, 'Apr':4,'May':5,
                    'Jun':6,'Jul':7,'Aug':8, 'Sep':9, 'Oct':10, 'Nov':11, 'Dec':12} 

df_temp_rain['Month_Number']= df_temp_rain['Month'].apply(lambda x: month_dictionary[x])

In [20]:
### define function to apply convert epi weeks... 
def epi_week_conversion(row, df):
    data_date = dt.date(int(df['Year'].iloc[row]), int(df['Month_Number'].iloc[row]), int(df['Day'].iloc[row])) 
    return str(Week.fromdate(data_date))
#my_date = date(int(df.Year.iloc[row]), int(df.Month_Number.iloc[row]),int(df.Day.iloc)[row])int(df.Day.iloc)[row])))

In [21]:
### function needs to reference index..
## original index is out-of-order..so creating an index column by resetting index twice 
df_temp_rain.reset_index(inplace=True)
df_temp_rain.reset_index(inplace=True)

In [22]:
df_temp_rain['eweek'] = 1 #initialise column 
df_temp_rain['eweek'] = df_temp_rain['level_0'].apply(lambda x:epi_week_conversion(x,df_temp_rain))

In [23]:
df_temp_rain.drop(columns = ['level_0','index','Date','Year', 'Month', 'Month_Number', 'Date2', 'Day'], inplace=True)

In [24]:
### need to groupby since this data was by day, we will take the mean of each variable 
df_temp_rain_byweek = df_temp_rain.groupby('eweek').mean()

Search Terms DataFrame

In [25]:
###Split date so that I can apply the epiweek conversion 
df_st['Week1'] = df_st['Week'].str.split('-') 
df_st['Day'] = df_st['Week1'].apply(lambda x:x[2])
df_st['Month_Number'] = df_st['Week1'].apply(lambda x:x[1]) 
df_st['Year'] = df_st['Week1'].apply(lambda x:x[0])

In [26]:
df_st.reset_index(inplace=True)

In [27]:
df_st['eweek'] = 1 #initialise column 
df_st['eweek'] = df_st['index'].apply(lambda x: epi_week_conversion(x,df_st))

In [28]:
df_st.drop(columns=['Week','index', 'Week1', 'Day', 'Month_Number', 'Year'], inplace = True)

In [29]:
df_st

,fever: (Singapore),headache: (Singapore),ache + pain: (Singapore),dengue fever: (Singapore),eye pain: (Singapore),dengue: (Singapore),rashes: (Singapore),eweek
0,71,75,83,46,32,68,82,201402
1,84,52,77,29,57,61,73,201403
2,72,56,75,40,48,47,78,201404
3,66,69,73,18,43,34,84,201405
4,64,65,80,35,43,42,58,201406
...,...,...,...,...,...,...,...,...
256,82,70,77,24,59,29,54,201849
257,67,56,87,15,81,26,58,201850
258,77,76,84,27,61,28,60,201851
259,84,75,88,24,71,20,72,201852
260,89,83,89,30,41,27,59,201901

Merging all data files!

In [30]:
df = df_dengue.merge(df_temp_rain_byweek, how = 'left', on ='eweek' ).merge(df_st, how = 'left', on ='eweek')

In [31]:
df

,Dengue Cases,eweek,Daily Rainfall Total (mm),Mean Temperature (Â°C),Maximum Temperature (Â°C),Minimum Temperature (Â°C),fever: (Singapore),headache: (Singapore),ache + pain: (Singapore),dengue fever: (Singapore),eye pain: (Singapore),dengue: (Singapore),rashes: (Singapore)
0,83.0,201801,14.228571,25.828571,28.242857,24.214286,65.0,80.0,90.0,8.0,57.0,17.0,70.0
1,68.0,201802,19.971429,24.985714,27.471429,23.200000,82.0,90.0,93.0,30.0,44.0,23.0,61.0
2,54.0,201803,4.800000,26.057143,30.057143,23.671429,80.0,78.0,88.0,23.0,24.0,21.0,57.0
3,45.0,201804,3.114286,26.900000,31.400000,24.885714,76.0,85.0,100.0,19.0,63.0,23.0,79.0
4,48.0,201805,9.800000,26.942857,31.357143,24.200000,79.0,98.0,93.0,10.0,20.0,17.0,70.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,212.0,201449,10.371429,27.371429,30.942857,24.214286,60.0,82.0,76.0,26.0,49.0,27.0,71.0
261,177.0,201450,5.028571,27.914286,31.928571,25.257143,66.0,62.0,75.0,30.0,38.0,28.0,44.0
262,198.0,201451,5.514286,27.128571,30.571429,25.042857,59.0,57.0,75.0,25.0,91.0,24.0,69.0
263,188.0,201452,13.714286,26.571429,30.242857,24.657143,58.0,50.0,81.0,22.0,48.0,23.0,52.0
264,158.0,201453,0.542857,26.214286,29.085714,24.500000,66.0,67.0,74.0,26.0,39.0,21.0,75.0

In [32]:
with open('df.pickle', 'wb') as to_write:  
    pickle.dump(df, to_write)